[Unit]
Description=MQTT UPS monitor
After=nut-monitor.service
Wants=nut-monitor.service

[Service]
ExecStart=/usr/local/lib/mqttups/mqttups.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
